/* Colori di gioco */
.color-blue {-fx-background-color: #00C8FF;}
.color-fuchsia {-fx-background-color: #F203FF;}
.color-green {-fx-background-color: #00A579;}
.color-orange {-fx-background-color: #FF7700;}
.color-purple {-fx-background-color: #6A00FF;}
.color-red {-fx-background-color: #FF0000;}
.color-white {-fx-background-color: #FFFFFF;}
.color-yellow {-fx-background-color: #FFDD00;}

/* Cerchio */
.circle-button, .color-circle {
    -fx-background-radius: 100em;
    -fx-min-width: 30px;
    -fx-max-width: 30px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-border-color: #333;
    -fx-border-with: 1px;
    -fx-border-radius: 100em;
}

/* Bottone generico con stile rotondo */
.round-button {
    -fx-background-radius: 30px;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
}

.round-button:hover {
    -fx-background-color: #005A9E;
}